/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
.border-box, #terabyte-url, #terabyte-url input, #terabyte-url .btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#terabyte-url {
  padding: 20px !important;
  border: 2px solid #113056 !important;
  position: absolute !important;
  z-index: 9999 !important;
  top: 15px !important;
  right: 15px !important;
  background: white !important;
  display: none !important;
  width: 210px !important;
  -webkit-box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.4), 0px 9px 15px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.4), 0px 9px 15px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.4), 0px 9px 15px 5px rgba(0, 0, 0, 0.1);
}
#terabyte-url fieldset {
  border: none !important;
  padding: 0 !important;
}
#terabyte-url legend {
  display: none !important;
}
#terabyte-url label {
  display: none !important;
}
#terabyte-url input {
  display: block !important;
  border: 1px solid #999999 !important;
  padding: 8px 15px !important;
  margin: 0 0 15px 0 !important;
  width: 166px !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 2px 2px 10px 1px #cccccc;
  -moz-box-shadow: inset 2px 2px 10px 1px #cccccc;
  box-shadow: inset 2px 2px 10px 1px #cccccc;
  color: #333 !important;
}
#terabyte-url .btn {
  font-family: Arial, Verdana, sans-serif !important;
  font-size: 13px !important;
  line-height: 13px !important;
  padding: 10px 20px !important;
  margin-left: 10px !important;
  color: white !important;
  cursor: pointer !important;
  width: 78px !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: inline-block !important;
  text-align: center !important;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzEwMzQ1NCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1e5799), color-stop(100%, #103454));
  background: -webkit-linear-gradient(top, #1e5799 0%, #103454 100%);
  background: -moz-linear-gradient(top, #1e5799 0%, #103454 100%);
  background: -o-linear-gradient(top, #1e5799 0%, #103454 100%);
  background: linear-gradient(top, #1e5799 0%, #103454 100%);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF1E5799', endColorstr='#FF103454');
}
#terabyte-url .btn:first-child {
  margin-left: 0 !important;
}
#terabyte-url .btn-wide {
  display: block !important;
  width: 100% !important;
  margin: 10px 0 0 !important;
}
#terabyte-url .close {
  font-family: Arial, verdana, sans-serif !important;
  width: 22px !important;
  height: 22px !important;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: black !important;
  border: 4px solid white !important;
  display: block !important;
  color: white !important;
  text-align: center !important;
  vertical-align: bottom !important;
  position: absolute !important;
  top: -15px !important;
  left: -15px !important;
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  font-size: 18px !important;
  cursors: pointer !important;
}
